.body{
    width: 1540px;
    height: 2000px;
}

.rectangle49 {
    position: absolute;
    width: 848px;
    height: 48px;
    left: 205px;
    top: 200px;
    background: #F0F2F8;
    border-radius: 30px;
}

.UserInterfaceMagnifier {
    margin: 12px 12px 12px 30px;
}

.search {
    position: absolute;
    width: 10px;
    height: 20px;
    left: 70px;
    top: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 8px;
    color: #6E757C;
}

.newest {
    position: absolute;
    width: 131px;
    height: 15px;
    left: 1095px;
    top: 200px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #0F1420;
}

.path {
    position: absolute;
    left: 100%;
    top: 130.67%;
    mix-blend-mode: normal;
}

.frag {
    background: #1E1E1E;
}

.jobresult1 {
    position: absolute;
    width: 1030px;
    height: 254px;
    left: 205px;
    top: 280px;
    background: #FFFFFF;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
}

.Statusdecision {
    position: absolute;
    width: 152px;
    height: 18px;
    left: 25px;
    top: 20px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;

    color: #384D98;
}

.party {
    position: absolute;
    left: 180px;
    top: 15px;
}

.image1 {
    position: absolute;
    width: 144px;
    height: 162px;
    left: 24px;
    top: 60px;
    border-radius: 3px;
}

.rectangle33 {
    box-sizing: border-box;
    position: absolute;
    width: 183px;
    height: 30px;
    left: 204px;
    top: 60px;
    border: 1.5px solid #0F1420;
    border-radius: 40px;
}

.archhitectual {
    position: absolute;
    width: 147px;
    height: 19px;
    left: 5px;
    top: 5px;
    padding-left: 15px;
    font-family: 'SF Pro';
    font-style: normal;
    font-weight: 590;
    font-size: 14px;
    line-height: 17px;
    color: #0F1420;
}

.rectangle32 {
    position: absolute;
    width: 102px;
    height: 30px;
    left: 400px;
    top: 60px;
    background: #E7FFCD;
    border-radius: 40px;
}

.rectangle2428 {
    position: absolute;
    width: 90px;
    height: 30px;
    left: 515px;
    top: 60px;
    background: #FCCDED;
    border-radius: 40px;
}

.rectangle2425 {
    position: absolute;
    width: 107px;
    height: 30px;
    left: 615px;
    top: 60px;
    background: #CCE6FF;
    border-radius: 40px;
}

.share-android {
    position: absolute;
    width: 28px;
    height: 28px;
    left: 930px;
    top: 60px;
}

.save {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 975px;
    top: 62px;
}

.architecturalDesigner {
    position: absolute;
    width: 238px;
    height: 18px;
    left: 205px;
    top: 100px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #0F1420;
}

.blackMountainArchitecture {
    position: absolute;
    width: 225px;
    height: 15px;
    left: 205px;
    top: 125px;

    font-family: 'SF Pro';
    font-style: normal;
    font-weight: 590;
    font-size: 16px;
    line-height: 19px;
    color: #0F1420;
}

.line93 {
    position: absolute;
    width: 17px;
    height: 0px;
    left: 420px;
    top: 135px;
    border: .01px solid #56585e;
    transform: rotate(90deg);
}

.location {
    box-sizing: border-box;
    position: absolute;
    left: 450px;
    top: 125px;
    border: 0.3px solid #FFFFFF;
}

.bozeman {
    position: absolute;
    width: 107px;
    height: 15px;
    left: 20px;
    top: 1px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #0F1420;
}

.line94 {
    position: absolute;
    width: 17px;
    height: 0px;
    left: 590px;
    top: 135px;
    border: .01px solid #56585e;
    transform: rotate(90deg);
}

.hourly-rates {
    position: absolute;
    width: 111px;
    height: 15px;
    left: 610px;
    top: 125px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #0F1420;
}

.appliedDate {
    position: absolute;
    width: 165px;
    height: 14px;
    left: 850px;
    top: 125px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #333A45;
}

.SkillRequirements {
    position: absolute;
    width: 149px;
    height: 15px;
    left: 205px;
    top: 170px;

    font-family: 'SF Pro';
    font-style: normal;
    font-weight: 590;
    font-size: 16px;
    line-height: 19px;
    color: #0F1420;
}

.rectangle24 {
    position: absolute;
    width: 73px;
    height: 30px;
    left: 205px;
    top: 195px;
    background: #0F1420;
    border-radius: 40px;
}

.rhino {
    position: absolute;
    width: 41px;
    height: 20px;
    left: 18px;
    top: 7px;

    font-family: 'SF Pro';
    font-style: normal;
    font-weight: 590;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.rectangle2433 {
    position: absolute;
    width: 73px;
    height: 30px;
    left: 290px;
    top: 195px;
    background: #0F1420;
    border-radius: 40px;
}

.blender {
    position: absolute;
    width: 41px;
    height: 20px;
    left: 18px;
    top: 7px;

    font-family: 'SF Pro';
    font-style: normal;
    font-weight: 590;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.rectangle2436 {
    position: absolute;
    width: 73px;
    height: 30px;
    left: 375px;
    top: 195px;
    background: #0F1420;
    border-radius: 40px;
}

.rhevit {
    position: absolute;
    width: 41px;
    height: 20px;
    left: 18px;
    top: 7px;

    font-family: 'SF Pro';
    font-style: normal;
    font-weight: 590;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.Rectangle2570 {
    position: absolute;
    width: 135px;
    height: 40px;
    left: 865px;
    top: 185px;

    background: linear-gradient(86.54deg, #F26A5C 7.4%, #F29C6B 115.84%);
    border-radius: 50px;
}

.viewjob {
    position: absolute;
    width: 95px;
    height: 24px;
    left: 25px;
    top: 10px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.JobResult2 {
position: absolute;
width: 1030px;
height: 254px;
left: 205px;
top: 554px;

background: #FFFFFF;
box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.08);
border-radius: 5px;
}